{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>first page</title>
    <link rel="stylesheet" href="{% static 'css/first.css' %}"
</head>
<body>
    <section class="hero">
        <div class="hero-content">
            <h1>WELCOME TO RENTIFY</h1>
            <p>Your trusted platform for renting cars, bikes, halls, offices, and houses!</p>
            <a href="/home/" class="cta-btn">let's Goto ride wrold.....</a>
        </div>
    </section>
</body>
</html>